body {
    background-color: rgb(174, 118, 163);

}

#img {
    width: 40%;
    height: 40%;

}



h1 {
    text-align: center;
}
h2 {
   text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

#missão {
    font-size: 20px;
}

em strong {
   color: #6a53ac;
}

.itens {
    font-style: italic;
}

#video {
    width: 50%;
    height: 70%;
}

ul {
    text-align: center;
}
